PORT=5004

NODE_ENV=development
MONGO_URI=mongodb+srv://fugiinvestments:6zD8W78QThNyFhot@cluster0.vaptgg7.mongodb.net/construction?appName=Cluster0

JWT_SECRET=Construction12$$

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

VITE_API_URL=https://construction-p9uq.onrender.com